
<h1>Är din instruktör certiferad?</h1>
  
<p>IMMI skapades redan 1983 och har under årens lopp förändrats och moderniserats för att möta den förändrade arbetsmarknaden för våra hundpsykologer och instruktörer.</p>

<p>Som kund hos någon av våra medlemmar kan du förvänta dig att få HJÄLP av en dokumenterat välutbildad och erfaren hundpsykolog/instruktör. Inget är för stort eller för smått för att du ska få hjälp. Det kan t ex handla om att hunden gör utfall mot, eller biter, människor eller hundar, drar i kopplet, inte kommer på inkallning, jagar djur mm.</p>

<p>Våra medlemmar erbjuder också ett brett utbud av KURSER, valp– och vardagslydnadskurser, tävlingslydnad, personspår, viltspår, aktivering, rallylydnad och mycket mer.</p>

<p>Våra HUNDPSYKOLOGER OCH INSTRUKTÖRER har alla genomgått en av IMMI:s godkända utbildningar och alla innehar IMMI:s behörighetsbevis.</p>

<p>Behörighetsbeviset är en garanti för dig som hundägare att den du anlitar har en gedigen och modern utbildning och att både du och din hund kommer att behandlas med respekt. Fråga alltid efter behörighetsbeviset och kontrollera vilken utbildning och erfarenhet hundpsykologen eller instruktören har innan du anlitar personen! På behörighetsbeviset finns också uppgifter om vart du ska vända dig om du har klagomål eller synpunkter på din hundpsykolog/instruktör.</p>
  

<%= link_to 'Alla medlemstyper', '/courses/index' %>
