<h3 style="color: red">Icke giltigt medlemsskap</h3>
<p>Om du är en kund och ser detta, vet du nu att det du fick se var ett falskt intyg eller att medlemsskapet för personen gått ut. </p>
<p>Kontakta oss gärna och berätta vem som gav det till dig.</p>